html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Lato, Arial, sans-serif;
  color: $grey-5;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  color: $grey-5;
}

ul {
  padding: 0;
  list-style: none;
}

// FIXME: bad practice to hide native outline.
//          using opt-in class for now until we can revert this default
input:not([type="checkbox"]),
button:not(.show-focus) {
  outline: none !important;

  &:disabled:not(.active) {
    opacity: 0.5;
  }
}

input {
  padding: 0 20px;
  border: 1px solid $grey-3;
  border-radius: 2px;
  font-size: 1em;

  &:focus {
    border: 1px solid $humanyze-blue;
  }
}

// hide number-input spinners
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

button {
  background: transparent;
  border: none;

  // FIXME: why is this necessary? Already set on `body`. Browser was ignoring
  font-family: Lato, Arial, sans-serif;

  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:hover:not(:disabled) {
    color: $humanyze-blue;
  }

  &.no-hover:hover:not(:disabled) {
    color: inherit;
  }

  &.with-border {
    border-bottom: 2px solid $grey-4;

    &:hover:not(:disabled),
    &:focus:not(.no-focus),
    &.active:not(.no-focus) {
      border-bottom: 2px solid $humanyze-blue;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &.active {
    cursor: default;
  }

  &:hover:not(:disabled),
  &:focus,
  &.active {
    color: $humanyze-blue;
  }
}

select {
  background: transparent;
  cursor: pointer;
}

body > .ember-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}
