.DeploymentSelectionItem {
  background-color: white;
  display: block;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 2px;

  font-size: 0.9em;
  color: #676767;
  &:hover {
    color: #25b3d5;
  }
}

.DeploymentSelectionItem__name {

}