@import "~Src/Global.scss";

.ParticipantsTableRow {
    border-bottom: 1px solid #e6e6e6;
    font-size: 0.75em;
    color: #666;

    &:hover {
        background-color: $grey-1;
    }
    
    td {
        padding: 10px 20px;    
    }
}