@import '~Src/Global.scss';

.Digital {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  $Digital: &;

  & > * {
    flex-shrink: 0;
  }

 .DataVisAdjacencies {
    @at-root #{$Digital} {
      height: 800px;
    }
  }

}

.Digital__grid {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.Digital__grid-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.DigitalRoute {
  flex: 1;
}
