@import "~Src/Global.scss";

.FileUploadSelector {
  width: 350px;
  height: 48px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 15px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  line-height: 1.75;
  cursor: pointer;

  .material-icons {
    color: $grey-5;
  }
}