@import '~Src/Global.scss';

.ParticipantsTable {
    //padding: 0 40px;
    margin-bottom: 50px;
}

.ParticipantsTable__title {
    background-color: $blue-3;
    position: relative;
    font-size: 36px;
    letter-spacing: 0.05rem;
    font-variant-ligatures: no-common-ligatures;
    color: white;
    padding: 10px 40px;
    height: 60px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.ParticipantsTable__table-padding {
    padding: 20px 0px 0px 20px;
    background-color: $grey-2;
}
.ParticipantsTable__table-wrapper {
    overflow-x: scroll;
    margin-bottom: 40px;

    .counts {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;

        .value {
            font-weight: bold;
        }

        .selected, .filtered, .available, .visible {
            display: inline-block;
        }
    }
}

.ParticipantsTable__table {
    background-color: white;
    border-spacing: 0;

    .td, .th {
        white-space: nowrap;
        overflow: hidden;
        padding: .5em;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }

    .td {
        &.gender, &.isManager, &.teamsManaged, &.timezone, &.active_badge, &.active_digital, &.selection {
            text-align: center;
        }
        &.working_hours_start::after, &.working_hours_end::after {
            content: ":00";
        }
        &.working_hours_start, &.working_hours_end {
            text-align: right;
        }
    }

    .th {
        font-weight: bold;
        text-align: center;
    }
    .resizer {
        display: inline-block;
        background: blue;
        width: 2px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(50%);
        z-index: 1;
        touch-action:none; /* prevents from scrolling while dragging on touch devices */

    .resizer::hover {
        width: 10px;
    }

        &.isResizing {
          background: red;
        }
    }
}

.ParticipantsTable__loading-wrapper {
    position: relative;
    height: 500px;
}

div.sort-button {
    display: inline-block;
    margin-left: 1em;
}

span.sort-indicator {
    &.sortable::after {
        content: fa-content($fa-var-sort);
    }
    &.ascending::after {
        content: fa-content($fa-var-sort-up);
    }
    &.descending:after {
        content: fa-content($fa-var-sort-down);
    }
}

