.LightBoxWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 100;
  background-color: rgba(51,51,51,.77);
}

.LightBox {
  display: flex;
  height: 100%;

  & > div {
    margin: auto;
  }
}