@import '~Src/Global.scss';

.ImportParticipantDataModal {
  background-color: white;
  padding: 20px 20px 0;
  border: 1px solid #d3d3d3;
  height: 500px;
  width: 700px;
  display: flex;
  flex-direction: column;

  &.ImportParticipantDataModal__requesting-validation {

  }

  // THESE ARE TO PREVENT INPUT DURING TEMP STATES
  &.validating, &.importing, &.importComplete {
    .FileUploadSelector, .DateSelector, .ActionButton__validate, .ActionButton__import  {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}


.ImportParticipantDataModal__header-section {
  flex: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ImportParticipantDataModal__header-text {
    color: $blue-4;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;


  }

  .ImportParticipantDataModal__close-icon {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbb;
    border-radius: 2px;
    cursor: pointer;

    * {
      font-weight: 700;
    }

    &:hover {
      background-color: #a8a8a8;
    }
  }
}

.ImportParticipantDataModal__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: $grey-2;
  border-top: 3px solid $blue-4;
}

.ImportParticipantDataModal__import-wizard-wrapper {
  height: 125px;
  text-align: center;
}

.ImportParticipantDataModal__feedback-block {
  height: 80px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: $grey-6;
  & > div {
    flex: 1;
  }
}

.ValidationError {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .ValidationError__download-text {
    cursor: pointer;
    color: black;
    margin-left: 7px;
  }
}

.ImportTooLongMessage, .ImportErrorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .ImportTooLongMessage__cancel {
    cursor: pointer;
    color: black;
  }
}


.ValidationSuccessMessage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.ImportParticipantDataModal__footer-section {
  margin: 10px;
  color: #aaaaaa;
  text-align: center;
}


.ImportParticipantDataModal__file-upload-block,
.ImportParticipantDataModal__date-block {
  margin-bottom: 10px;
  color: $grey-5;
  display: flex;
  align-items: center;
}

.ImportParticipantDataModal__action-buttons {
  display: flex;
  justify-content: flex-end;
}