@import "~Src/Global.scss";

.flashErrorWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


.ErrorFlashBar {
  background-color: $error-red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 48px;
  color: white;
  border-top: 1px solid white;
}

.ErrorFlashBar__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}