@import '~Src/Global.scss';

.ActionSubBar {
    background-color: $blue-3;
    height: 48px;
    padding: 0 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    .ActionSubBar__section {
        display: flex;
    }



    .ActionSubBar__text {
        font-size: 12px;
        color: white;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 20px;

        &:hover:not(.ActionSubBar__description) {
            background-color: rgba(0, 0, 0, 0.05);
            color: white;
        }

        &.ActionSubBar__description {
            font-style: italic;
            cursor: default;
        }
    }
}