@import '~Src/Global.scss';

.ActionSubBar {
    background-color: $humanyze-blue;
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    .ActionSubBar__section {
        display: flex;
    }



    .ActionSubBar__text {
        font-size: 0.8em;
        color: white;
        text-transform: uppercase;
        font-style: italic;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 20px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            color: white;
        }
    }
}